<h3>Equipment</h3>
<ul>
  <li *ngFor="let piece of equipment">

    <span *ngIf="selectedPiece !== piece; else elseBlock">
      <span (click)="edit(piece)" class="editable-text">{{piece}}</span>
      <button (click)="remove(piece)">remove</button>
    </span>

    <ng-template #elseBlock>
      <input #name (keyup.enter)="save(name.value, piece)" value="{{piece}}" />
      <button (click)="save(name.value, piece)">save</button>
    </ng-template>

  </li>
</ul>
<input #name type="text" />
<button (click)="add(name.value)">Add</button>